table {
    border-spacing: 10px;
    border: 1px solid gray;
    width: 1250px;
    height: 650px; 
  }

thead {
    border-spacing: 10px;
    border: 1px solid gray;
}

tbody {
    border-spacing: 10px;
    border: 1px solid gray;
}

td {
    border-spacing: 10px;
    border: 1px solid gray;
}

tr {
    border-spacing: 10px;
    border: 1px solid gray;
}